header {
  position: sticky;
  top: 0px;
  background-color: rgb(25, 25, 36);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-boot {
  padding: 0 24px;
  height: 60px;
  width: 100%;
  max-width: 1200px;
  z-index: 1;
}
.nav_logo-container {
  width: 60%;
  display: flex;
  -webkit-box-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  align-items: center;
}
.nav_logo {
  color: yellow;
  font-size: 40px;
}
.nav_logo span {
  color: yellow;
}
.nav-collapse {
  /* margin-right: 150px; */
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 32px;
  padding: 0px 6px;
}
.nav-collapse a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.nav-collapse a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  margin: 2px 0;
  transition: 0.5s;
}
.nav-collapse a.active {
  color: var(--aqua-color);
}
.nav-collapse a.active::after {
  background-color: var(--aqua-color);
}
.nav-collapse a:hover::after {
  width: 100%;
}
.github-btn {
  width: 80%;
  height: 100%;
  display: flex;
  -webkit-box-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 6px;
}
.github-btn a {
  border: 1.8px solid yellow;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 70%;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 0px 20px;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease-in-out 0s;
}
.github-btn a:hover {
  color: black;
}
.github-btn a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: yellow;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.github-btn a:hover:after {
  width: 100%;
}
@media (max-width: 992px) {
  .collapse-container {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    /* gap: 2px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .nav-collapse {
    gap: 7px;
  }
  .nav-collapse a {
    font-weight: 500;
  }
  .navbar-collapse {
    /* justify-content: center; */
    /* align-items: start; */
  }
  .github-btn {
    /* width: 100%; */
    padding: 20px;
    justify-content: center;
  }
}
