header {
  position: sticky;
  top: 0px;
  background-color: rgb(25, 25, 36);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div:first-child {
  padding: 0 24px;
  height: 60px;
  width: 100%;
  max-width: 1200px;
  z-index: 1;
}
.nav_logo {
  color: yellow;
  font-size: 40px;
  width: 80%;
  display: flex;
  -webkit-box-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  align-items: center;
}
.nav_logo span {
  color: yellow;
}
.nav-collapse {
  /* margin-right: 150px; */
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 32px;
  padding: 0px 6px;
}
.nav-collapse a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.nav-collapse a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  margin: 2px 0;
  transition: 0.5s;
}
.nav-collapse a.active {
  color: var(--aqua-color);
}
.nav-collapse a.active::after {
  background-color: var(--aqua-color);
}
.nav-collapse a:hover::after {
  width: 100%;
}
.github-btn {
  width: 80%;
  height: 100%;
  display: flex;
  -webkit-box-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 6px;
}
.github-btn a {
  border: 1.8px solid rgb(133, 76, 230);
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 70%;
  border-radius: 20px;
  color: rgb(133, 76, 230);
  cursor: pointer;
  padding: 0px 20px;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.6s ease-in-out 0s;
}
