.skill {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: rgb(28, 28, 39);
}
.skill-container {
  /* margin-top: 300px; */
  width: 100%;
  z-index: 1;
  /* margin-top: 10px; */
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  /* padding: 80px 30px; */
  padding: 70px 30px;
}
.skill-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.skill-text h1 {
  color: rgb(242, 243, 244);
  font-weight: 700;
  font-size: 40px;
  overflow: hidden;
}
.skill-content p {
  font-size: 18px;
  max-width: 600px;
  color: rgba(242, 243, 244, 0.584);
  align-self: center;
}
.skill-box {
  width: 100%;
  display: flex;

  margin-top: 30px;
  gap: 30px;

  justify-content: center;
}
.others {
  justify-self: flex-start;
}

.skill-box-content {
  width: 100%;
  max-width: 500px;
  background: rgb(23, 23, 33);
  /* border: 0.1px solid rgb(133, 76, 230); */
  box-shadow: rgba(255, 255, 0, 0.2) 0px 4px 24px;
  border-radius: 16px;
  padding: 18px 36px;
  /* border: 1px solid yellow; */
  border: 1px solid rgba(255, 255, 0, 0.5) !important;
  transition: 1s;
  cursor: pointer;
}
.skill-box-content:hover {
  transform: scale(1.05);
}
.skill-box-content h2 {
  font-size: 28px;
  font-weight: 600;
  color: rgb(177, 178, 179);
  margin-bottom: 20px;
  text-align: center;
}
.skill-list {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
  color: rgb(177, 178, 179);
}
.single-skill {
  font-size: 16px;
  font-weight: 400;
  color: rgba(242, 243, 244, 0.5);
  border: 1px solid rgba(242, 243, 244, 0.5);
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  /* mix-blend-mode: color-burn; */
}
.single-skill img {
  width: 24px;
  height: 24px;
  background: none;

  /* // mix-blend-mode: multiply; */
}
@media (max-width: 992px) {
  .skill-box {
    align-items: center;
  }
}
